.botao {
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 90px;    
}
.botaoespecial{
    border: 1px solid #999;
    height: 26px;
    padding: 5px 15px;
    width: 80px;    
}
.texto{
    color: #999;
}
.digo{
    color: #999;
    border:2px solid ;
    width: 300px;
}